* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
main {
  margin-top: 3rem;
  height: 100vh;
}

#prompt {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 5px;
  margin-bottom: 0.5rem;
}
#image-form {
  margin-bottom: 1rem;
}
#image-form h1 {
  margin-bottom: 1rem;
}

.form-controll {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#size {
  width: 70%;
  height: 1.5rem;
  border-radius: 0.5rem;
}
.btn {
  border-radius: 0.5rem;
  width: 28%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
